@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

/* General Styles */
body {
    margin: 15px;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #2b2b2b;
    color: #ffffff;
}

.title-container {
    display: flex; 
    text-align: center;
    margin: 20px 0;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    justify-content: center; /* Horizontally centers the content */
    align-items: center; 
    flex-direction: row;
}

/* Style for the title icon */
.title-icon {
    height: 150px; 
    margin-left: -30px; 
}


h1, h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 24px;
    color: #95b9ff;
}

p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
}

a {
    font-family: 'Nunito Sans', sans-serif;
}

/* Special Heading */
.special-h1 {
    font-size: 2em;
    text-align: center;
    margin: 20px 0;
    text-transform: uppercase;
    font-weight: bold;
    justify-content: center;
    margin-right: 20px; 
}

/* Content Section */
#content {
    padding: 40px 80px;
    background-color: #000000;
    color: #ffffff;
    margin: 20px 40px;
}

/* Bottom Navigation */
#bottomnav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #2B2B2B;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    z-index: 1000;
}

.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #ffffff;
    text-transform: uppercase;
}

.nav a:hover {
    background-color: #000000;
    color: #ffffff;
}

.nav a.active {
    color: #ffffff;
    background-color: #000000;
}

.nav a.active:hover {
    color: #000000;
    background-color: #ffffff;
}

/* Accessibility Buttons */
.accessibility-buttons {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
}

button {
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    padding: 10px 15px;
    margin: 0 10px;
    color: #000000;
    background-color: #4599aa;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-transform: uppercase;
}

button:hover {
    background-color: #000000;
    color: #4599aa;
}

/* footerstyle */
footer {

    font-size: 12px;
    color: #bdbdbd;
    font-family: 'Nunito Sans', sans-serif;
}

/* Dropdown */
.custom-dropdown-wrapper {
    display: block;
    text-align: center;
    margin: 20px 0;
}

.dropdown-btn {
    background-color: #f6a9ff;
    color: #000;
    padding: 15px 30px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.dropdown-btn:hover {
    background-color: #000000;
    color: #ffffff;
}

.dropdown-content {
    display: flex;
    position: relative;
    width: 100%;
    left: 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #333;
    border-radius: 0 0 5px 5px;
    z-index: 1;
    text-align: center;
    font-size: 30px;
    padding: 20px 0;
}

.dropdown-content a {
    display: inline-block;
    margin: auto;
    padding: 20px 20px;
    color: black;
    text-decoration: none;
    background-color: transparent;
    font-weight: bold;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* Guide Content */
.guide-container {
    text-align: center;
    padding: 20px;
}

.guide-content {
    background-color: #000000;
    color: #ffffff;
    padding: 40px;
    margin: 50px auto 100px; /* Top, Horizontal Auto, Bottom */
    max-width: 1000px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.guide-option {
    display: block;
    width: 100%;
    padding: 10px 20px;
    font-size: 25px;
    margin-bottom: 10px;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

.guide-option.facebook:hover {
    background-color: #3b5998;
    color: #ffffff;
}

.guide-option.email:hover {
    background-color: #dd4b39;
    color: #ffffff;
}

.guide-option.passwords:hover {
    background-color: #4caf50;
    color: #ffffff;
}

.guide-page {
    margin-bottom: 20px;
}

.guide-navigation {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.guide-navigation button {
    margin: 5px;
    
}


/* Ensure the Next Guide button is visible */
.last-guide-step .next-guide {
    display: inline-block; /* or 'block' depending on your design */
}

/* Guide styling */

.facebook-h1 {
    color: #3b5998; 
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;


}


.facebook-h2 {
    color: #3b5998; 
    text-align: center;
}

.password-h1 {
    color: #4caf50;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;



}


.password-h2 {
    color: #4caf50;
    text-align: center;
}

.email-h1 {
    color: #dd4b39;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;



}


.email-h2 {
    color: #dd4b39;
    text-align: center;
}



  /* Quiz Styles */
  .quiz-question {
    background: #000000;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px #000000;
}

.quiz-question p {
    font-size: 18px;
}

input[type="radio"] {
    margin-right: 10px;
}

#check-answers {
    display: block;
    width: 200px;
    color: white;
    border: 0;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px auto;
    background-color: #4599aa;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#check-answers:hover {
    background: #000000;
    color: #ddd;
}

.quiz-results {
    text-align: center;
    margin-top: 20px;
    color: #B9F1F9;
    font-size: 20px;
}

/* link styling */
.resource-link {
    font-weight: bold;
    color: #00ddff;
    text-decoration: none;
}

.resource-link:hover {
    text-decoration: underline;
}

/* Image zoom functionality */
.enlarge-image {
    transition: transform 0.3s ease;
    cursor: pointer;
    width: 700px; 
    height: auto; 
}

/* Style for zoomed image */
.enlarge-image.zoomed {
    transform: scale(2); 
    z-index: 1000; 
    position: relative;
}


/* Mobile Styling */
@media (max-width: 768px) {
    body {
        margin: 5px;
        font-size: 14px; /* Adjust font size for better readability */
    }

    .title-container {
        flex-direction: column; /* Stack the title and icon vertically */
        margin: 10px 0;
    }

    .title-icon {
        height: 100px; /* Adjust icon size */
        margin-left: 0; /* Remove negative margin */
    }

    h1, h2 {
        font-size: 20px; /* Adjust heading sizes */
    }

    p, a, button, .dropdown-btn {
        font-size: 16px; /* Adjust text size for better readability */
    }

    #content, .guide-content, .quiz-question {
        padding: 20px; /* Adjust padding for content areas */
        margin: 10px; /* Reduce margin to fit mobile screens */
    }

    #bottomnav {
        padding: 5px 0; /* Reduce padding */
    }

    .nav a {
        font-size: 16px; /* Reduce font size for navigation links */
        padding: 5px 10px; /* Adjust padding */
    }

    .accessibility-buttons button {
        padding: 5px 10px; /* Adjust button sizes */
        font-size: 16px; /* Adjust font size */
    }

    .guide-option, .dropdown-content a {
        font-size: 20px; /* Adjust dropdown font size */
    }

    .custom-dropdown-wrapper, .guide-container, .quiz-results {
        padding: 10px; /* Adjust padding */
    }

    .dropdown-content {
        font-size: 18px; /* Adjust font size for dropdown content */
    }

    /* Adjust the size and position of images and other media elements */
    img, .enlarge-image {
        max-width: 100%; /* Ensure images are not larger than the screen */
        height: auto; /* Maintain aspect ratio */
    }

    .enlarge-image.zoomed {
        transform: scale(1); /* Adjust zoom level on mobile */
    }
}